[submodule "libs/Vulkan-Headers"]
	path = libs/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers
[submodule "libs/Vulkan-Loader"]
	path = libs/Vulkan-Loader
	url = https://github.com/KhronosGroup/Vulkan-Loader
