# Ignore both root files and root directories...
/*

# ...except these files down here...
!/CMakeLists.txt
!/01_initializeVulkan.cpp
!/02_getPhysicalDevices.cpp
!/03_pickPhysicalDevice.cpp
!/.gitignore
